.big-button {
  background: $main-color;
  border: none;
  border-bottom: .6rem solid darken($main-color, 10%);
  border-radius: 1rem;
  color: black;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
};

.big-button:disabled {
  opacity: .5;
}

.button {
  background: $main-color;
  border: none;
  border-bottom: .3rem solid darken($main-color, 10%);
  border-radius: 1rem;  
  color: black;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $dark-gray;
  padding: 0;
}

.button--delete-all {
  color: white;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}