.widget {
  background: $light-gray;
  margin-bottom: $xl-size;
}

.widget__message {
  color: black;
  padding: $l-size;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid lighten($dark-gray, 10%);
}

.widget-header {
  background: $dark-gray;
  border-bottom: 1px solid lighten($dark-gray, 10%);
  color: $light-gray;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}