
// Colors
$off-black: #20222B;
$dark-gray: #333333;
$light-gray: #EFEFEF;
$bg-color: white;
$main-color: #FFDE00;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$option-text-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;